// Styling for the arcs list
.arcs-list {
    height: auto;
    padding-bottom: 80px;
}
.arcs-body .body-options{
    display: flex;
        ul {
        display: flex;
        flex-wrap: wrap;
        h2 {
            font-size: 50px;
            letter-spacing: 1px;
            -webkit-text-stroke: 2px black;
        }
        li {
            width: 20%;
            img {
                width: 55%;
            }
        }
    }
}
.arcs-body select {
    width: 270px;
}
