// Sitewide styling
.wrapper {
    max-width: 1250px;
    width: 85%;
    margin: 0 auto;
    padding: 0;
}
img {
    width: 100%;
}
h1, h2, h3, p, ul, li, a {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

// Header Styling
header {
    background-color: $header-color;
    height: 15vh;
    position: relative;
    background-image: url(/assets/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
}
.header-logo {
    display: flex;
}   nav ul {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-left: -50px;
    li {
        margin-right: 20px;
        border: 10px solid orange;
        background: orange;
        font-size: 2rem;
        transform: box-shadow;
        transition: 0.5s ease-in;
    }
    li:hover{
        background: red;
        box-shadow: 0 8px 20px 5px rgba(0,0,0,0.125);
        
    }
}
.header-logo img {
    width: 700px;
    position: relative;
    right: 243px;
    height: 300px;
}
.header-image {
    position: absolute;
    right: 0;
    top:0;
    width: 35%;
}



// Body styling
.body {
background-image: url(../assets/Wiki-background.jpg);
height: 80vh;
}
h1 {
    @include h1;
}
h2 {
    @include h2;
}

.box-selector img {
    transition: 0.5s;
}

.box-selector img:hover{
    transform: scale(1.06);
    box-shadow:0 17px 13px 0px rgba(0,0,0,0.25);
};




// Footer styling
footer {
    background-color: $eggshell-color;
    height: 5vh;
}
.footer-socials {
    display: flex;
    padding-top: 20px;
}
.social-box {
    display: flex;
    p, a {
        font-size: 20px;
    }
    ul {
        display: flex;
        margin-left: 5px;
    }
    ul:last-child {
        margin-right: 30px;
        li {
            padding-left: 10px;
            a {
                color: $orange-icon;
            }
        }
    }
}
.footer-copyright {
    margin-left: auto;
}