// Sitewide styling
.wrapper {
    max-width: 1250px;
    width: 85%;
    margin: 0 auto;
    padding: 0;
}
img {
    width: 100%;
    // display: block;
}
h1, h2, h3, p, ul, li, a {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

// Header Styling
header {
    background-color: #8dcbdf;
    height: 15vh;
}
.header-logo img {
    width: 375px;
    position: relative;
    right: 60px;
    height: 15vh;
}
.header-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 15vh;
}

// Body styling
.body {
background-image: url(../assets/Wiki-background.jpg);
height: 80vh;
}
// Footer styling
footer {
    background-color: #f0ead6;
    padding: 20px 0;
    height: 5vh;
}
.footer-socials,
.social-box {
    display: flex;
    ul:last-child {
        margin-right: 30px;
    }
    ul {
        display: flex;
        padding-left: 5px;
        a {
            color: $orange-icon;
            padding: 0 5px;
        }
    }
    .footer-copyright {
        margin-left: auto;
    }
}
