@media(max-width: 1620px) {
    .index header img {
        right: 100px;
    }
}

@media(max-width: 800px) {
    .index header img {
        right: 70px;
    }
    .index nav ul {
        li a {
            font-size: 40px;
        }
    }
    .index h1 {
        padding: 25px 0;
    }
    .index h2 {
        font-size: 60px;
    }
    .index .social-box p {
        font-size: 20px;
        width: 32%;
    }
}

@media(max-width: 600px) {
    .index header img {
        display: none;
    }
    .index .mobile {
        position: initial;
        display: block;
        width: 20%;
        height: auto;
    }
    .index .header-logo {
        width: 100%;
    }
    .index nav ul li a{
        font-size: 30px;
    }
    .index .body-options {
        flex-direction: column;
        padding-bottom: 50px;
    }
    .index .body {
        height: auto;
    }
    .index h1 {
        padding-bottom: 0;
        font-size: 40px;
    }
    .index h2 {
        padding-top: 15px
    }
    .index .footer-socials {
        display: block;
    }
    .index .social-box {
        width: 51%;
    }
    .index .footer-copyright {
        padding-top: 20px;
    }
}