
$orange-icon: #E75605;
$eggshell-color: #f0ead6;
$header-color: #8dcbdf;
$title-color: rgb(100, 28, 28);
$summary-bubble: rgba($color: (rgb(245, 200, 245)), $alpha: 0.5);


@mixin h1 {
    font-family: 'ONE PIECE', sans-serif;
    font-size: 55px;
    letter-spacing: 2px;
    color: $title-color;
}

@mixin h2 {
    font-family: 'ONE PIECE', sans-serif;
    font-size: 85px;
    color: $eggshell-color;
    letter-spacing: 3px;
    -webkit-text-stroke: 3px black;
}
